<div class="search-area mx-auto">
  <%= form_tag(path, method: :get) do %>
    <%= label_tag(:q, search_title) %>
    <%= text_field_tag(:q, "", class: "form-control" ) %>
    <%= submit_tag "検索", class: "btn btn-primary" %>
  <% end %>
</div>
