<% provide(:title, "FavCon") %>
<div class="main-img row">
  <div class="main-text">
    <h1>FavCon</h1>
  </div>
  <div class="form my-auto">
    <%= render "new_form" %>
  </div>
</div>

<div class="container category">
  <%= render "shared/category" %>
</div>
