@import "bootstrap";
@import "pages.scss";
@import "relationships.scss";
@import "posts.scss";
@import "users.scss";
@import "music.scss";
@import "comments.scss";
@import "notifications.scss";

body {
  background-color: #eee
}


//共通
.main-wrapper {
  margin-top: 56px;
}

.alert {
  margin-bottom: 0;
  padding: 0.5rem 1.25rem;
}

//ヘッダー
.navbar {
  background-color: black;
  @media screen and (min-width: 451px) {
  .collapse {
    text-align: center;
    ul {
      justify-content: space-between;
      li {
        padding: 0 100px;
        a {
          color: #999 !important;
          &:hover {
            color: white !important;
          }
        }
      }
    }
  }
}
}
