//音楽ページ
.search-area {
  width: 30%;
  @media screen and (max-width: 400px) {
    width: 80%;
  }
  .btn {
    margin-top: 5px;
  }
}

.music-list {
  .track {
    width: 20%;
    display: inline-block;
    margin: 30px;
  }
}
