//音楽ページ
.search-area {
  width: 30%;
  @media screen and (max-width: 450px) {
    width: 80%;
  }
  .btn {
    margin-top: 5px;
  }
}

.music-list {
  .track {
    width: 20%;
    display: inline-block;
    margin: 30px;
  }
}

.content-search-title {
  margin: 0 30px;
  @media screen and (max-width: 450px) {
    font-size: 25px;
    h2 {
      font-size: 25px;
    }
  }
}
