//通知一覧
.notification-dropdown {
  @media screen and (max-width: 450px) {
    margin-right: 50px;
    position: static;
  }
  ul {
    li {
      padding: 0 !important;
      a {
        font-size: 13px;
      }
    }
  }
}
