//プロフィール編集ページ、パスワード編集ページ
.profile-form-image {
  padding-top: 50px;
  text-align: center;
}

.edit-profile-wrapper{
  margin-top: 30px;
  h2 {
    color: #696969;
    display: inline;
    border-bottom: solid 1px #696969;
    @media screen and (min-width: 451px) {
      width: 40%;
    }
  }
  .profile-form-wrap {
    background-color: white;
    @media screen and (max-width: 450px) {
      margin-top: 20px;
      padding: 10px;
      .btn-danger {

      }
    }
    @media screen and (min-width: 451px) {
      margin-top: 10px;
      width: 40%;
      padding: 40px;
    }
  }
  .btn-area {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
  }
}

.user-list {
  nav {
    margin-top: 20px;
    text-align: center;
    .pagination {
      display: inline-block;
      li {
        float: left;
      }
    }
  }
}

.post-like-switching {
  ul {
    padding: 0;
    margin: 0;
      a {
        color: #999;
        font-size: 25px;
        text-decoration: none;
        width: 48%;
        padding: 10px;
        margin: 10px 1%;
        li {
          list-style: none;
          text-align: center;
      }
      .active {
        color: #666;
        border-bottom: 2px solid #666;
      }
    }
  }
}
